In [15]:
# import bibliotek
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt


#zaczytanie pliku dat
df = pd.read_csv('cross-section.dat', sep = ',')
df

,nodenumber,x-coordinate,y-coordinate,z-coordinate,co_ppm_dry,no_ppm_dry,o2_dry,co2_dry,velocity-magnitude,x-velocity,y-velocity,z-velocity
0,1,-0.043888,0.701550,-0.043888,1226.631217,2204.312452,7.558558,8.935388,6.160616,4.090056,-2.134306,4.045209
1,2,-0.043881,0.705494,-0.043881,1316.527017,2257.147469,7.464846,9.049862,4.045198,2.327124,-1.473924,2.839588
2,3,-0.042891,0.705494,-0.042891,1329.290905,2262.526225,7.419462,9.135174,3.705755,1.930072,-1.048270,2.837365
3,4,-0.042899,0.701550,-0.042899,1240.273125,2210.406503,7.508633,9.024375,5.697507,3.752669,-1.665528,3.901555
4,5,-0.042881,0.709919,-0.042881,1400.874670,2323.291906,7.316490,9.275940,2.172307,0.185754,-0.390583,1.757395
...,...,...,...,...,...,...,...,...,...,...,...,...
6687,6688,-0.009854,0.172145,-0.009854,6111.835204,10842.682100,14.656008,3.668124,6.622267,-3.404703,-5.491033,1.110134
6688,6689,0.000000,0.158750,0.000000,16441.822270,27246.923830,12.603802,2.427722,3.799376,-1.912105,-2.541363,1.969563
6689,6690,-0.009979,0.158217,-0.009979,11122.803200,20738.278020,13.624495,3.056001,4.684243,-3.042046,-3.171618,1.145770
6690,6691,0.000000,0.145000,0.000000,21978.720700,35984.578130,11.403688,1.741618,0.000000,0.000000,0.000000,0.000000
6691,6692,-0.010105,0.144290,-0.010105,15524.893560,29383.803610,12.719466,2.510655,0.000000,0.000000,0.000000,0.000000

In [16]:
for row in df:
    data['o2_dry_limited'] =
    
cols = ['b']
df[cols] = df[df[cols] > 0][cols]
df.dropna()

SyntaxError: invalid syntax (<ipython-input-16-0267eb95b69f>, line 2)